:root{
    --purp: rgb(172, 25, 217);
    --dkbl: rgb(47, 27, 103);
    --wht: white;

}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.bodywrap {
    height: 100%;
    margin: 0;
    padding: 0;

}

.header {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;

}
.score {
    position:absolute;
    top: 20px;
    left: 20px;
    color: var(--purp);
    font-size: x-large;
}
.timer {
    position:absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    color: var(--purp);
    font-size: x-large;
}
button {
    font-size: 22px;
    padding: 14px 34px;
    margin: 16px 16px 16px 20px;
    cursor: grab;
    background-color: var(--dkbl);
    border-radius: 10px;
    color: var(--wht);
    display: inline-block;
    line-height: 12px;
    text-align: center;
    box-shadow: gray;
    width: 200px;

}
button:hover {
    cursor: default;
    background: var(--purp);
  }

#btn {
    text-align: center;
}
main {
    max-width: 75%;
    text-align: center;
    margin: 25%;
    margin-top: 5%;
}

.StartQuiz  h1 {
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    
}

.StartQuiz  p {
    text-align: center;
    font-size: 30px;
    
}
.hidden {
    display: none;
}

.ansShow {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border-bottom: 0px;
    border: 0px;
    border-top: 2px;
    border-color: gray;
    border-style: solid;
    color: gray;
    font-size: 40px;
    width: 200px;
    padding: 2px;
    display: block;
    margin: 2px;
    /* Need to fix so extends across the box if time permits */
    
}